






<style>
  .container {
      max-width: 100%;
  }
</style>

  <div class="max-w-lg mx-auto mt-16 text-center max-w-sm rounded overflow-hidden shadow-lg p-10">
    <h1 class="mb-4 text-3xl font-black">Welcome to the Book Management System</h1>
    <p class="text-lg leading-snug">Please login below</p>
    <div class="">
      <br>
    <%= button_to 'Login', '/auth/auth0', method: :post, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded', id: 'qsLoginBtn' unless session[:userinfo].present? %>
    </div>
  </div>