



<div>
  <h1 style="text-align: center"><u>Good day</u></h1>
</div>
<div>

  <p style="text-align: center">This was developed by Gabe in an attempt to make everyone's lives easier when it comes to categorizing books outside the library</p>
  <h3 style="text-align: center"><u>Instructions for use</u></h3>
  <p style="text-align: center">Below are links to the different sections of this website, further instructions will be available there</p>




</div>
<button onclick="window.location.href='/loans';">Book Loans Table</button>
<div></div>
<button onclick="window.location.href='/books';">Book Catalog</button>