<h1 style="text-align: center"><u>About this website</u></h1>

<body>
<p>
  This website was made by Gabe W in an effort to make the teachers lives easier when it comes to categorizing books that exist outside the library, while this proved to be a difficult task I learned a lot nonetheless.
</p>
</body>